@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        background: none;
        box-shadow: none;
    }
    .nav-info{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .banner-img img{
        margin: auto;
    }
    .we-gamer-container{
        flex-direction: column;
        
    }
    .we-gamer-img img{
        width: 100%;
    }
    .we-gamer-info{
        text-align: center;
    }
    .box-container{
        flex-direction: column;
        align-items: center;
        padding: 0;
        /* margin-top: 50px; */
    }
    .box img{
        width: 100%;
        padding-top: 30px;
    }
    .play-container{
        flex-direction: column;
        padding: 20px;
        margin: 0;
        margin-top: 40px;
    }
    .play-info p{
        margin: 20px 0px;
    }
    .footer-info{
        padding: 20px;
        margin: 0px;
    }
    .footer-name{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        padding-top: 30px;
        gap: 30px;
        margin: 0px;
}
.social-icon{
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
    gap: 30px;
    margin:0 100px;
    padding-top: 30px;
}
.condition{
    display: grid;
    grid-template-columns: repeat(2 ,2fr);
    margin: 0px;
    padding-top: 30px;
    gap: 30px;

}
.copyright{
    padding-top: 30px;
}
.main-container{
    margin: 0;
    gap: 40px;
    padding: 30px 5px;
}
.allgames-container-1{
    grid-template-columns: repeat(3, 2fr);
}
.all-games-container-2{
    grid-template-columns: repeat(3, 2fr);
}
        
}