@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        background: none;
        box-shadow: none;
    }
    .nav-info{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .banner-img img{
        margin: auto;
    }
    .we-gamer-container{
        flex-direction: column;
    }
    .we-gamer-img img{
        width: 100%;
    }
    .we-gamer-info{
        text-align: center;
    }
    .box-container{
        flex-direction: column;
        align-items: center;
        padding: 0;
        /* margin-top: 50px; */
    }
    .box img{
        width: 100%;
        padding-top: 30px;
    }
    .play-container{
        flex-direction: column;
    }
}